.footer-section{
    .footer-links{
        ul{
            overflow: hidden;
        }
        a{
            position: relative;
            display: flex;
            align-items: center;
            transition: var(--transition);
            &::before {
                content: "";
                z-index: 1;
                position: absolute;
                background-color: rgba(var(--p2), 1);
                @include box(5);
                left: -20px;
                opacity: 0;
                border-radius: 50%;
                transition: var(--transition);
            }
            &:hover{
                padding-left: 12px;
                color: rgba(var(--p2), 1);
                &::before {
                    left: 0;
                    opacity: 1;
                }
            }
        }
    }
    .newsletter-area{
        .single-img img{
            @include maxQuery(1199){
                @include box(130);
            }
        }
    }
    .footer-illus{
        img{
            @include maxQuery(1799){
                @include box(150);
            }
            @include maxQuery(1699){
                display: none;
            }
        }
    }
    &.second{
        .footer-links{
            a{
                &::before {
                    background-color: rgba(var(--s1), 1);
                }
                &:hover{
                    color: rgba(var(--s1), 1);
                }
            }
        }
        .copyright-area{
            a{
                &:hover{
                    color: rgba(var(--s1), 1);
                }
            }
        }
    }
}