// default font family
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// default root
:root {
	--body-font: 'IBM Plex Sans', sans-serif;
	
	--transition: all 0.5s ease-in-out;

	/* Color styles */
	--p1: 28, 162, 252;
	--p2: 20, 113, 176;

	--s1: 255, 148, 61;
	--s2: 64, 178, 91;
	--s3: 135, 91, 247;
	
	--n1: 255, 255, 255;
	--n2: 250, 250, 251;
	--n3: 245, 246, 247;
	--n4: 235, 236, 239;
	--n5: 223, 224, 228;
	--n6: 193, 196, 204;
	--n7: 178, 182, 191;
	--n8: 166, 170, 181;
	--n9: 151, 156, 168;
	--n10: 136, 142, 156;
	--n11: 121, 128, 144;
	--n12: 106, 114, 131;
	--n13: 91, 100, 119;
	--n14: 79, 88, 109;
	--n15: 64, 74, 96;
	--n16: 52, 62, 86;
	--n17: 34, 46, 72;
	--n18: 19, 32, 59;
	--n19: 7, 20, 49;
	
	--f1: 232, 246, 255;
	--f2: 162, 217, 254;
	--f3: 123, 201, 253;
	--f4: 67, 178, 253;
	--f5: 20, 113, 176;
	--f6: 17, 99, 154;
	--f7: 255, 244, 236;
	--f8: 255, 211, 175;
	--f9: 255, 193, 142;
	--f10: 255, 166, 94;
	--f11: 179, 104, 43;
	--f12: 156, 90, 37;
	--f13: 215, 5, 79;

	--box-shadow-p1: 0px 6px 30px 0px rgba(0, 0, 0, 0.16);
	--box-shadow-p2: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);

	// hex color 
	--p1-hex: #1CA2FC;
	--p2-hex: #1471B0;

	--s1-hex: #FF943D;
	--s2-hex: #40B25B;
	--s3-hex: #875BF7;

	--n1-hex: #FFFFFF;
	--n2-hex: #FAFAFB;
	--n3-hex: #F5F6F7;
	--n4-hex: #EBECEF;
	--n5-hex: #DFE0E4;
	--n6-hex: #C1C4CC;
	--n7-hex: #B2B6BF;
	--n8-hex: #A6AAB5;
	--n9-hex: #979CA8;
	--n10-hex: #888E9C;
	--n11-hex: #798090;
	--n12-hex: #6A7283;
	--n13-hex: #5B6477;
	--n14-hex: #4F586D;
	--n15-hex: #404A60;
	--n16-hex: #343E56;
	--n17-hex: #222E48;
	--n18-hex: #13203B;
	--n19-hex: #071431;

	--f1-hex: #E8F6FF;
	--f2-hex: #A2D9FE;
	--f3-hex: #7BC9FD;
	--f4-hex: #43B2FD;
	--f5-hex: #1471B0;
	--f6-hex: #11639A;
	--f7-hex: #FFF4EC;
	--f8-hex: #FFD3AF;
	--f9-hex: #FFC18E;
	--f10-hex: #FFA65E;
	--f11-hex: #B3682B;
	--f12-hex: #9C5A25;
	--f13-hex: #D7054F;
}